/* $This file is distributed under the terms of the license in /doc/license.txt$ */
/* THis is the DCO Customized Style Sheet for Vivo */
/* Created/Modified by Josh Wood, Octob er 23, 2014 */
/* For all issues please enter trac tickets at TWC */


@charset "UTF-8";
/* CSS Document */

/* Tell the browser to render HTML 5 elements as block */
header,
hgroup,
section,
nav,
article,
aside,
footer{
    display: block;
}
time{
    font-weight: normal;
}
html,
body {
    padding: 0;
    height: 100%; /* needed for container min-height */
    font-family: "helvetica Neue Light",helvetica, arial,sans-serif;
    height: auto !important; /* real browsers */
    height: 100%; /* IE6: treaded as min-height*/;
    min-height: 100%; /* real browsers */
    margin: 0 auto;
	border-top: 3px solid #000000;
}
body {
   background: #ffffff; 
}
/*ul li {
	font-size: .8em;
}*/
a:hover {
    text-decoration: none;
}
a {
    color: #b7312c;
}
em {
    font-style: italic;
}
/* h1,h2,h3,h4,h5,h6 ------>  */

h2 {
    padding: 10px 0 12px 0;
    margin: 0;
    font-size: 1.375em;
    
    line-height: 1.5em;
}
h2 a {
    color: #b7312c; 
}
h2 a:link, 
h2 a:visited {
    text-decoration: underline; 
}
h2 a:hover, 
h2 a:active {
    text-decoration: none; 
}
h3 {
    padding: 10px 0 12px 0;
    margin: 0;
    font-size: 1.125em;
   
}
h4 {
    
    margin: 0;
    font-size: 1em;
	
   
}
h5 {
    padding: 10px 0 12px 0;
    margin: 0;
    font-size: .875em;
   
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #000000; 
	margin: 0px;
	padding: 0px;
}
/* ------------------------------------------------->  */
/* EDITING STYLES ---------------------------------->  */
/* ------------------------------------------------->  */
input[type="text"],
select,  
input[type="password"] {
    border: 0;
    font-size: 80%;
    padding: .5em;
    background: #ccc;
    border: 1px solid #999999;
   
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin-bottom: .8em;
}

input.block {
    margin-bottom: 20px;
}
label {
    margin-top: .5em;
    margin-bottom: .5em;
}
label.inline {
    display: inline;
    font-weight: normal;
    font-size: .9em;
}
.verbose-toggle,
.verbose-toggle:visited,
#showAddFormButton,
#showAddFormButton:visited,
input.submit, 
input.submit:visited,
/* the id selectors are used temporarily due to the custom jsp tags (<v:input>) 
for editing forms which require an id and do not allow a class. This will be 
removed once we refactor the editing forms to Freemarker */
input#submit, 
input#submit:visited,
input.form-button,
input.form-button:visited {
    background: #222 url(../images/alert-overlay.png) repeat-x;
    display: inline-block;
    padding: 7px 18px 7px;
    color: #fff;
    text-decoration: none;
    border-radius: 0px; 
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    position: relative;
    border: 0;
    margin: 0;
    background-color: #0091B8;
    color: #fff;
    font-weight: normal;
    line-height: 1;
    margin-right: .6em;
    margin-top: .5em;
    margin-bottom: .5em;
}
#verbose-mode .small {
    font-size: 12px;
    color: #fff;
}
#verbose-mode span {
    color: #888C8C;
}
#verbose-mode b {
    color: #595B5B;
}
#verbose-mode .verbose-off{
    background: #706a66;
}
input.delete,
input.delete:visited,
input#delete,
input#delete:visited {
    background: #222 url(../images/alert-overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 18px 7px;
    color: #fff;
    text-decoration: none;
    border-radius: 0px; 
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    position: relative;
    cursor: pointer;
    border: 0;
    margin: 0;
    background-color: #8F928D;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin-right: .6em;
}
.verbose-toggle:hover,
#showAddFormButton:hover,
input.submit:hover,
input#submit:hover,
input.form-button:hover {
    color: #fff;
    background-color: #E8A93B;
}
input.delete:hover,
input#delete:hover {
    color: #fff;
    background-color: #93c3d4;
}
.verbose-toggle,
.verbose-toggle:active,
#showAddFormButton:active,
input.delete:active,
input#delete:active,
input.submit:active,
input#submit:active,
input.form-button:active {
    top: 1px;
}
form textarea {
    border: 1px solid #e0dfdf; 
    border-radius: 0px; 
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px; 
}
.maxWidth {
    margin-top: 20px;
    width: 100%;
}
#authorships a.remove:link,
#webpageList a.remove:link,
#showAddForm a.cancel:link,
form a:link.cancel, 
form a:visited.cancel{
    text-decoration: underline;
    color: #b7312c;
    border-color: none;
    padding-left: 3px;
}
#authorships a.remove:hover,
#authorships a.remove:active,
#webpageList a.remove:hover,
#webpageList a.remove:active,
#showAddForm a.cancel:hover,
#showAddForm a.cancel:active,
form a:hover.cancel, 
form a:active.cancel {
    text-decoration: none;
    color: #f70;
    background: none;
}
.validationError {
    font-weight: normal;
    color: #cc0000;
    margin-bottom: .3em;
}
p.submit {
  margin-top: 0;
  padding-top: 0;
}
.editingForm table {
    border-color: #dfe6e6;
}
.editingForm td {
    padding: 3px;
}
.editingForm .entryFormHead {
    background-color: #f1f2ee;
    border-color: #dfe6e6;
}
.editingForm .entryFormHead h2 {
    color: #5F6464;
}
.form-item {
    margin-top:.3em;
    background-color: #fff;
    border-color: #e0dfdf;
    font-size: .8em;
    border-width: 1px;
    color: #595B5B;
    padding: .3em;
}
a.return:link,
a.return:visited {
    text-decoration: underline;
    color: #f70;
    border-color: none;
    padding-left: 3px;
}
a.return:hover,
a.return:active {
    text-decoration: none;
    color: #f70;
    background: none;
}
.navlinkblock {
    color: #5F6464;
}
.header {
    color: #5F6464;
}
.database_header {
    background-color: #f1f2ee;
    color: #2485ae;
    font-size: 1em;
}
.database_upperleftcorner {
    color: #5F6464;
    font-size: 1em;
}
.database_upperleftcenter {
    background-color: #B0C4DE;
    color: #5F6464;
    font-size: 1em;
}
.rownumheader {
    background-color: #F1F2EE;
    color: #5F6464;
    font-size: 1em;
}
.headercenter {
    color:  #5F6464;
    font-size: 10pt;
    font-style: normal;
    text-align: center;
}
.postheader {
    background-color: #E6E6FA;
    color: #777;
    font-size: 1em;
}
.database_postheader {
    background-color: #f7f9f9;
    font-size: 1em;
}
.postheadercenter {
    font-size: 1em;
}
.postheaderright {
    font-size: 1em;
}
.verticalfieldlabel {
    color: #5E6363; /*#5F6464;*/
    font-style: normal !important;
    font-size: 10pt !important;
    line-height: 2em !important;
}
.row, .rowvert {
    background-color: #f7f9f9;
    color: #5F6464;
    font-size: 10pt;
    font-style: normal;
    text-align: left;
    line-height: 2em;
}
.rowalternate {
    background-color: #fff;
    color: #5F6464;
    font-size: 1em;
    line-height: 2em;
}
.rowbold {
    background-color: #FFFAFA;
    color: #5F6464;
    font-size: 10pt; /*1em;*/
    line-height: 2em;
}
.rownum {
    background-color: #F1F2EE;
    color: #5F6464;
    font-size: 1em;
}
.form-background {
    background-color: #fff;
}
.formsEdit p {
    /*padding-top: 1em;*/
    margin-bottom: 1em;
    padding-bottom: 0;
    margin-top: 0;
}
.formsEdit p.validationError {
    margin-bottom: 1.8em;
    margin-top: 0;
    padding-top: 0;
    font-size: .8em;
}
form.deleteForm {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px dotted #e3e9e9;
}
form.editForm span {
    color: #c00;
    font-weight: normal;
    font-size: small;
}
form h3.delete-entry {
    padding-right: .8em;
    display: inline;
}
form h2 {
    margin-bottom: 0;
    padding-bottom: 10px;
}
form select {
   border: 0;
   font-size: 14px;
   padding: .5em;
   background: #fff;
   border: 1px solid #e0dfdf;
   border-radius: 0px;
   -moz-border-radius: 0px;
   -webkit-border-radius: 0px;
   margin-bottom: .8em;
   margin-top: .7em;
   margin-right: .5em;
}
.notice { 
    margin-top: 1em; 
    border: 1px dotted #FFD324;
}
a.ingestMenu:link, 
a.ingestMenu:visited,
a.account-menu:link,
a.account-menu:visited {
    text-decoration: none;
    color: #2485AE;
}
a.ingestMenu:hover, 
a.ingestMenu:active,
a.account-menu:hover,
a.account-menu:active {
    text-decoration: none;
    color: #5E6363;
}
ul.ingestMenu {
    margin-bottom: 1.5em;
}
.toBeDeleted {
    margin-bottom: 0;
}
/* BACK-END FORMS -------------->  */
.display-inline {
    display: inline-block;
}
.theme-dir {
    clear: both;
}
tr.editformcell td input[type="text"] {
    width: 30% !important;
}
tr.editformcell td input.fullWidthInput {
	border: 1px solid #999999;
	background-color: #cecece;
    width: 70% !important;
    margin-top: 0.7em !important;
}
tr.editformcell td input.shortInput {
    width: 20% !important;
    margin-top: 0.7em !important;
}
tr.editformcell td textarea.matchingInput {
    width: 95%;
    height:10ex;
    margin-top:0.7em;
    font-family: "Lucida Sans Unicode","Lucida Grande", Geneva, helvetica, sans-serif; 
    font-size:0.95em;
}
hr.formDivider {
    background-color: #3196C4;
    border: 0 none;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 15px;
    opacity: 0.3;   
}
tr.editformcell td select {
    font-size: .8em;
}
.editingForm table {
    width: 100%;
    border: none;
}
/* ------------------------------------------------->  */
/* HOMEPAGE AND INTERIOR PAGES STYLES -------------->  */
/* ------------------------------------------------->  */

/* HEADER ------>  */
#branding {
    position: relative;
    width: 970px;
    height: 105px;
    margin: 0 auto;
}
/* BRANDING ------>  */
h1.vivo-logo {
    position: absolute;
    width: 442px;
    height: 59px;
    top: 12px;
    left: 0;
    background: url(../images/dco-ds-portal.png) 0 0 no-repeat;
}
h1.vivo-logo a {
    display: block;
    width: 386px;
    height: 59px;
	margin-top: -50px;
}
/* HEADER NAV------>  */
ul#header-nav {
    float: right;
    list-style: none;
    height: 30px;
    padding-top: 10px;
    margin-right: 13px;
}
ul#header-nav li {
    float: left;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #7c7d7f;
    font-size: .7em;
    color: #fff;
}
ul#header-nav li.last {
    border-right: none;
}
ul#header-nav li:last-child {
    padding-left: 1px;
    padding-right: 0;
    border-right: none;
}
ul#header-nav a {
    color: #b7312c;
}
ul#header-nav a:link,
ul#header-nav a:visited {
    text-decoration: none
}
ul#header-nav a:hover,
ul#header-nav a:active {
    text-decoration: none;
    color: #999;
}
ul#header-nav a.log-out {
    padding-left: 10px;
}
/* SEARCH ------>  */
#searchbox fieldset {
	padding: 0px;
	margin: 0px;
}
#searchbox input.form-submit {
    background: #ededed -moz-linear-gradient(center top , #ededed 5%, #dfdfdf 100%) repeat scroll 0 0;
    border: 1px solid #dcdcdc;
    box-shadow: 0 1px 0 0 #ffffff inset;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    height: 23px;
    line-height: 15px;
    margin: 0 0 4px 3px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-shadow: 0 -1px 0 white;
    width: auto;
}
#search-box {
  margin: 0;
  padding: 0; }

#search-box-inner {
  padding: 0px;
  margin: 0px; }

#searchbox {
		background: none repeat scroll 0 0 padding-box #fff;
		float: right;
	    border-radius: 2px;
	    border-top: 1px solid #f3f7f7;
	    box-shadow: 0 0 1px #bebebe;
	    height: 23px;
	    margin-bottom: 3px;
	    margin-top: 0;
	    overflow: hidden;
	    padding: 2px;
	    width: 210px; }

#edit-search-theme-form-1 {
  float: left;
  padding: 5px 0px;
  height: 11px;
  width: 170px;
  border: 1px solid #ececec;
  font: normal 13px 'trebuchet MS', arial, helvetica;
  text-indent: .3em;
  background: #ffffff;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 0.25); }

#searchbox input.form-submit {
  margin: 0px;
  padding: 0.3em; }

form input.form-submit {
  text-indent: 0px;
  border: 1px solid #999999;
  display: inline-block;
  color: #ffffff;
  height: 23px;
  margin: 0 0 0 3px;
  margin-top: 2px;
  width: auto;
  cursor: pointer;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #333333;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 15px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px -1px 0px white;
  margin-bottom: 4px; }

#searchbox input.form-submit {
  text-indent: 0px;
  border: 1px solid #999999;
  display: inline-block;
  color: #ffffff;
  height: 23px;
  margin: 0 0 0 3px;
  width: auto;
  cursor: pointer;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #333333;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 15px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px -1px 0px white;
  margin-bottom: 4px;
  float: left; }
  #searchbox input.form-submit:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    background-color: #dfdfdf; }

form input.form-submit:active {
  position: relative;
  top: 1px; }

#edit-search-theme-form-1:-webkit-input-placeholder, #edit-search-theme-form-1:-moz-placeholder, #edit-search-theme-form-1:-ms-placeholder {
  color: #9c9c9c;
  font-style: italic; }
  
  
  
/*#search {
    height: 38px;
	
    right: 0px;
   
}*/
#search-field {
	float: right;
   
    height: 28px;
    background: url(../images/search-interior-pages.png) 0 0 no-repeat;
	}
	/*
#search-field input.search {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    font-size: 65%;
    border: none;
    padding-left: 25px;
    padding-top: 6px;
    cursor: pointer;
	text-transform: uppercase;
	
}
input.search-vivo {
    float: left;
    width: 290px;
    height: 25px;
    border: 1px solid #cccccc;
    font-size: 75%;
    color: #5e6363;
   
    padding: 0 0 0 7px;
}
#search-form-modifier {
    display: none;
}
*/
/* MAIN NAVIGATION------>  */
ul#main-nav {
    display: block;
    width: 968px;
    height: 46px;
    /*border-top: 2px solid #dde4e3;*/
    list-style: none;
    font-size: 1em;
    color: #706a66;
	 margin: 0 auto 25px;
}
#main-nav li {
    float: left;
	
    line-height: 26px;
   
}
#main-nav li a {
    padding-left: 18px;
    padding-right: 18px;
    display: block;
    color: #b7312c;
    text-decoration: none;
	text-transform: uppercase;
	font-size: 70%;
	font-weight: bold;
}
#main-nav li a:hover {
    color: #002b44;
}
#main-nav li a.selected {
    color: #8f928d;
    /*background: url(../images/selected-main-nav.jpg) left -1px no-repeat;*/
    /*margin-right: 7px;
	border-top: 2px solid #000000;
	margin-top: -2px;*/
}
/* WRAPPER CONTENT------>  */
#wrapper-content {
    clear: both;
    width: 930px;
    margin: 0 auto;
    background: #fff;
    min-height: 710px;
   
}
/* INTRO-BLURB ------>  */
#intro {
    float: left;
    width: 960px;
    padding-bottom: 10px;
    font-size: 13pt;
    line-height: 140%;
    text-align: justify;
}
body.loggedIn #intro {
    
}
#intro h2 {
    
    border-bottom: none;
    
}
#intro p {
   
    line-height: 1.3em;
   
}
#intro a {
    color: #b7312c;
}
#intro img {
	margin-right: 7px;
	margin-bottom: 7px;
	float: left;
	padding: 7px;
	border: 1px solid #efefef;
}
div.image {
	float: left;
	clear: none;
	width: 500px;
}
span.caption {
	font-size: 11px;
	padding: 11px;
	padding-top: 0px;
	font-style: italic;
	float: left;
	text-align: center;
	clear: both;
}
/* LOG IN------>  */          
#login {
    float: right;
    width: 314px;
    border: 1px solid #e8ece9;
    margin-right: 25px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    margin-top: 20px;
}
body.login #login {
    float: none;
}
#login h2 {
    font-size: 22px;
    color: #2485ae;
   
    padding-top: 18px;
    border-bottom: none;
}
h3.internal-auth {
    color: #5E6363;
}
h3.internal-auth:hover {
    color: #47B6D0;
}
#error-alert {
    margin-left: 0;
    margin-bottom: 12px;
    padding: 12px;
    padding-bottom: 12px;
    border: 1px dotted #a12424;
}
#error-alert img {
    float: left;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
#error-alert p {
    padding-left: 40px;
    font-size: .8em;
    line-height: 1.3em;
    color: #a12424;
    padding-top: 5px;
}
#login-form label {
    display: block;
    color: #5e6363;
    padding-top: 0;
    padding-left: 38px;
    font-size: 14px;
	text-align: left;
}
#login-form input.text-field {
    border: 0;
    font-size: 14px;
    padding: 5px;
    width: 219px;
    height: 24px;
    /*margin-left: 38px;*/
    background: #fff;
    border: 1px solid #e0dfdf;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;     
}
#login-form input.text-field:focus {
    border: 1px solid rgba(57, 138, 172, .5);  
    background-color: rgba(57, 138, 172, .1);   
}
#login-form p.submit {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 38px;
}
#login-form p.submit-password {
    height: 40px;
    margin-top: 20px;
    margin-left: 38px;
}
#login-form input.checkbox-remember-me {
    float: left;
    height: 14px;
    width: 14px;
    color: #5e6363;
    padding: 0;
    margin-top: 33px;
    margin-left: 20px;
}
#login-form label.label-remember-me {
    display: block;
    float: right;
    color: #5e6363;
    font-size: 12px;
    width: 100px;
    margin: 0;
    padding: 0;
    margin-top: 29px;
    margin-right: 32px;
}
p.forgot-password {
    clear: both;
    margin-left: 38px;
    font-size: 12px;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}
p.forgot-password a {
    color: #b7312c;
}
p.request-account {
    width: 219px;
    clear: both;
    float: left;
    margin-left: 38px;
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #e8ece9;
}
p.request-account a {
    color: #b7312c;
}
p.password-note {
    font-size: 12px;
    color: #949696;
    padding-left: 38px;   
}
#flash-message {
    border: 1px dotted #E2C822;
    background-color: #FFF9D7;
    padding: .5em;  
    margin-bottom: 10px;
}
#welcome-message {
    border: 1px dotted #E2C822;
    background-color: #FFF9D7;
    padding: .25em;
    margin-bottom: 8px;
}
#welcome-msg-container {
    margin-bottom: 8px;
    margin-top: -10px;
    margin-right:-10px;
    height:34px;
}
p.external-auth {
    margin: 0 auto;
}
p.external-auth a.blue,
p.external-auth a.blue:visited {
	background: #0091b8;
	  background: -moz-linear-gradient(0% 100% 90deg, #0091b8, #52a8e8);
	  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#0091b8));
	  border-top: 1px solid #4081af;
	  border-right: 1px solid #2e69a3;
	  border-bottom: 1px solid #20559a;
	  border-left: 1px solid #2e69a3;
	  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
	  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
	  text-shadow: 0 -1px 1px #3275bc;
	   font-size: 88%;
     /*border-color: #263e44 #8f928d #8f928d #263e44;
     border-style: solid;
     border-width: 1px;*/
     width: 180px;
     margin-bottom: 17px;
     line-height: 1.3em;
     padding-top: 10px;
}

  

p.external-auth a.blue:hover {
    background: #0091b8;
    background: -moz-linear-gradient(0% 100% 90deg, #0091b8, #3e9ee5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#0091b8));
    border-top: 1px solid #999999;
    border-right: 1px solid #165899;
    border-bottom: 1px solid #07428f;
    border-left: 1px solid #165899;
    -moz-box-shadow: inset 0 1px 0 0 #62b1e9;
    -webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
    cursor: pointer;
    text-shadow: 0 -1px 1px #1d62ab;
}
p.external-auth a.blue:active {
background: #3282d3;
 border: 1px solid #154c8c;
 border-bottom: 1px solid #0e408e;
 -moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
 -webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
 text-shadow: 0 -1px 1px #2361a4;
}
 
/* HOME SEARCH ------>  */
#search-home {
    float: left;
	background-color: #f7f7f7;
    width: 460px;
    margin: 30px 0 0 0;
	/*border: 1px solid #cccccc;*/
	padding: 19px;
}
#search-home h3 {
    padding: 0;
    
    margin-bottom: 15px;
    color: #0091b8;
		
}
#search-home-field {
    width: 483px;
    height: 34px;
    background: url(../images/search-field-and-button.gif) 0  middle no-repeat;
}
#search-home-field input.search {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    font-size: 80%;
    border: none;
    padding-left: 23px;
    padding-top: 8px;
    cursor: pointer;
}
input.search-home-vivo {
    float: left;
    margin: 10px 0 0 8px;
    width: 450px;
    height: 20px;
    border: 0;
    font-size: 18px;
    color: #5e6363;
    margin-left: 4px;
    margin-top: 2px;
}

/* SEARCH HOME------>  */ 

#search-home-field {
		background: url(../images/search-field-and-button.gif) -60px 0 no-repeat;
		 width: 450px;
}
#search-home-field input.search {
	 	background-color: transparent;
	 	color: #fff;
		border: none;
}
a.filter-search {
	right: 109px;
}
input.search-homepage {
		border: 0;
		background-color: #ffffff;
		background-position: right;
		/*opacity: .5;*/
		text-align:right; 
		width: 300px;
	    border: 1px solid #999999;
	       height: 19px;
	       margin-top: 0;
}

.filter-default {
		background: url(../images/filteredSearch.gif) 0 0 no-repeat;
}
.filter-active {
		background: url(../images/filteredSearchActive.gif) 0 0 no-repeat;
}
#filter-search-nav {
		background-color: #2d3535;
		color: #fff;
		background-color: #2d3535;
		color: #fff;
		right: 109px;
}
#filter-search-nav li {
		background-image: none;
		padding-left: 0;
		margin-left: 0;
}
#filter-search-nav a.active {
   color: #fff; 
}
#filter-search-nav a {
		border-bottom: 1px dotted #4f5656;
		color: #b7312c;
}

/* BROWSE ------>  */
ul#browse-classgroups a {
    padding-top: 3px;
    padding-bottom: 3px;
}
ul#browse-classgroups a:hover {
    background: url(../images/arrow.gif) 0 10px no-repeat;
    color: #2ea0cf;
}
ul#browse-classgroups a.selected {
    color: #2ea0cf;
    background: url(../images/arrow.gif) 0 10px no-repeat;
}
ul#classes-in-classgroup a:hover {
    background: url(../images/arrow.gif) 0 10px no-repeat;
    color: #2ea0cf;
}
ul#classes-in-classgroup a.selected {
    color: #2ea0cf;
    background: url(../images/arrow.gif) 0 10px no-repeat;
}
#visual-graph h5 {
    color: #2485ae;
}
svg text:hover {
    color: #2EA0CF;
}
p.view-all {
    clear: both;
    width: 200px;
    font-size: 14px;
    text-align: right;
    color: #303e4e;
}
a.view-all-style {
    color: #303e4e
}

/* HOME STATS----->  */
.home-sections {
		border-top: 1px solid #8f928d; /* stroke */
		/*border-bottom: 1px dotted #dbe3e3; stroke */
		background-color: #fff; /* layer fill content */
		font-size: 100%;
}
.home-sections h4, .home-stats h4 {
		/*background: url("http://deepcarbon.net/sites/dco.rpi.edu/files/images/menu-back.png") center top; */
		/*background-color: #000000;
        color: #eee;
        text-shadow: 0px -1px 1px #5e1311;*/
		/*background-color: #eeeeee;*/
		margin-left: 0px;
        padding-top: 9px;
        text-align: center;
        /*border: 1px solid #999; */
	    line-height: 1.0;
	    font-family: "helvetica neue", helvetica, arial, sans-serif;
	    text-transform: uppercase;
	    letter-spacing: .05em;
	    font-weight: 600;
		font-size: 70%;
}

#home-stats {
		margin-top: 30px;
}

#stats li {
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 0px; border radius 
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box; /* prevents bg color from leaking outside the border */
		background: #5e6363 url(../images/stats-bg.png) repeat-x 0 0;
		color: #fff;
}
#stats p {
		color: #fff;
}
#stats li a:hover {
		opacity: .5;
}
#stats .stats-count span {
		color: #fff;
		opacity: .5;
}
#home-research  {
	margin-top: 33px;
	float: left;
	clear: none;
}
#home-research h4 {
    display: inline;
    padding: 3px 10px;
}
#home-research ul {
	padding: 0.7em 0 0.6em 0.75em; 
	margin-top: .6em;
}
#home-research li {
	line-height: 1.25em;
	margin-top: .2em;
    font-size: 100%;
    line-height: 1.65em;
	font-family: georgia, "Times New Roman", sans-serif;
}
#home-research li a, #facultyThumbs li.individual  a,  #facultyThumbs li, #home-academic-depts a {
    font-size: 100%;
    line-height: 1.65em;
	font-family: georgia, "Times New Roman", sans-serif;
	text-decoration: none;
	
}
#home-research li:last-child  {
	text-align:right;
	padding: 4px 16px 0 0;
}
div#research-faculty-mbrs li h1 {
	font-size: 100%;
}
ul#viewMoreFac a {
    font-family: georgia,"Times New Roman",sans-serif;
    font-size: 100%;
    line-height: 1.65em;
    text-decoration: none;
}
#home-research li span {
	color: #c78f2e;
	/*background: url(../images/count-background.png) no-repeat;*/
	width: 35px;
	height: 27px;
	display: inline-block;
	/* padding: 6px 8px 0 0;*/
	margin-left: 4px;
	text-align: right;
	/*text-shadow: 0 -1px 1px #333333;*/
	font-family: georgia, "Times New Roman", sans-serif;
	/*font-size: 110%;*/
}
#home-academic-depts  {
	float: left;
}
#home-academic-depts h4 {
    display: inline;
    padding: 3px 10px;
}
#home-academic-depts ul {
    list-style: disc outside url(../../../images/arrowIcon.gif); 
	padding: 0.4em 0 0.6em 1.8em; 
}
#home-academic-depts li {
    font-size: 100%;
    line-height: 1.65em;
	font-family: georgia, "Times New Roman", sans-serif;
	line-height: 1.25em;
	padding-top: 1.0em;
	padding-right: 4px;
	font-size: 0.9em;
}
#home-faculty-mbrs  {
	width: 30%;
	margin: 0 0 20px 15px;
	float: left;
}
#home-faculty-mbrs h4 {
    display: inline;
    padding: 3px 10px;
}

#home-academic-depts,  #home-faculty-mbrs {
	max-width: 30%;
}
#home-academic-depts, #home-faculty-mbrs {
	margin-right: 15px;
}

div#tempSpacing {
    margin-top:30px;
    padding-left:20px;
    height:325px;
}
div#research-faculty-mbrs {
    line-height: 16px;
}
div#research-faculty-mbrs li.individual {
    clear: both;
}
div#research-faculty-mbrs ul li.individual:first-child {
    clear: both;
    /*padding-top: 20px*/
}
div#research-faculty-mbrs li h1 {
    padding: 6px 0 2px 0;
}
div#research-faculty-mbrs li img {
    width: 60px;  
    float: left;
    padding: 0px 8px 10px 10px; 
}
div#research-faculty-mbrs li span.title {
    display: block;
    font-size: 0.825em;
    line-height: 1.25em;
    padding-bottom: 8px;
}
div#research-faculty-mbrs ul#viewMoreFac  {
    list-style:none;
}
div#research-faculty-mbrs ul#viewMoreFac li {
    text-align:right;
    padding: 0 16px 8px 0;
    clear:both;
}
div#adjImgHeight {
    height:65px;
    overflow:hidden;
    float:left;
    margin-bottom:10px;
}
#home-geo-focus  {
	clear: both;
	display: inline-block; 
    margin-top: 10px;
    height: 632px;
    width: 921px;
}
#home-geo-focus h4 {
    display: inline;
    padding: 3px 10px;
}
#home-geo-focus div#timeIndicatorGeo {
    text-align:center;
    margin-top:100px;
}
#noContentMsg {
    clear: both;
}
/* FOOTER------>  */
footer {
    clear: both;
    width: 100%;
	height: 300px;
   
    margin: 0 auto;
    font-size: .7em;
    color: #4e5051;
    background-color: #000;
}
.footertable {
	width: 970px;
	margin: auto;
}
a.dco_anchor, .boiler {
	color: #ffffff;
	font-size: 110%;
}
footer p.copyright {
    float: left;
    padding-top: 55px;
    padding-left: 30px;
    width: 600px;
}
footer p.copyright small {
    font-size: 1em;
}
ul#footer-nav {
    float: right;
    list-style: none;
    width: 200px;
    height: 20px;
    margin: 0;
    padding: 0;
    padding-top: 55px;
    padding-right: 20px;
}
ul#footer-nav li {
    float: left;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #c9c8c8;
}
ul#footer-nav li:last-child {
    border-right: none
}
#footer-nav a {
    color: #b7312c;
}
#footer-nav a:hover {
    color: #09C;
    text-decoration: none;
}
a.terms {
    color: #09C;
    text-decoration: none;
}
a.terms:hover {
    color: #4e5051;
    text-decoration: none;
}
a.powered-by-vivo {
    color: #09C;
    text-decoration: none;
}
a.powered-by-vivo:hover {
    color: #4e5051;
    text-decoration: none;
}
p{
    /*margin-bottom: 1.3em;*/
	font-size: 86%;
}

/* STYLED BUTTONS ------>  */
.button,
.button:visited {
    background: #222 url(../images/alert-overlay.png) repeat-x;
    display: inline-block;
    padding: 7px 22px 8px;
    color: #fff;
    text-decoration: none;
    border-radius: 0px; /*This box should have a rounded corners in browsers supporting CSS3*/
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    position: relative;
    cursor: pointer;
    border: 0;
}
.button:hover {
    background-color: #111;
    color: #fff;
}
.button:active {
    top: 1px;
}
.blue {
    color: #2485ae; 
}
.green {
    color: #b2d15a;
}
.small.button,
.small.button:visited {
    font-size: 11px
}
.button,
.button:visited {
    font-size: 1.0064em;
    font-weight: thin;
    line-height: 1; 
}
.green.button,
.green.button:visited {
    background-color: #749a02;
    color: #fff;
}
.green.button:hover {
    background-color: #b2d15a;
}
.blue.button,
.blue.button:visited {
    background-color: #398aac;
    color: #fff;
}
.blue.button:hover {
    background-color: #58a2c1;
}

/* ------------------------------------------------->  */
/* INDIVIDUAL LIST --------------------------------->  */
/* ------------------------------------------------->  */
.pagination li.selectedNavPage {
    color: #91b039;
}
.rdfLink a {
    color: #84a655;
}
.individualList ul.individualData li {
    border-right: solid 1px #a0a0a0;
}
.individualList ul { 
    margin-left: 0; 
}
.individualList li,
.individualList li span { 
  color: #9c9c9c;
 }
.individualList li a { 
    font-weight: normal; 
    color: #2485AE;
}

/* ------------------------------------------------->  */
/* MENU PAGES -------------------------------------->  */
/* ------------------------------------------------->  */

/* VISUAL GRAPH------>  */
#menupage-intro {
    /*width: 920px;*/
    background: #fff;
}
#menupage-intro h2 {
    font-size: 1.375em;
    /*color: #064d68;*/
    font-weight: normal;
}
#menupage-intro.people h2 {
    float: left;
}
#menupage-content.people {
    border-right: 1px solid #e8ece9;
}
#menupage-content {
    width: 900px;
}
#menupage-content h3 {
    font-size: 1.5em;
    color: #002b44;
    font-weight: normal;
    border-bottom: 1px solid #f3f3f4;
}
#menupage-content h4 {
    font-size: 1.25em;
    color: #2485ae;
    font-weight: normal;
}
ul#vgraph-classes li {
    border-bottom: 1px solid #dde4e3;
    font-size: 1em;
}
ul#vgraph-classes a {
    color: #5e6363;
    text-decoration: none;
}
ul#vgraph-classes a:hover {
    background: url(../images/arrow.gif) 0 10px no-repeat;
    color: #2ea0cf;
}
ul#vgraph-classes a.selected {
    color: #2ea0cf;
    background: url(../images/arrow.gif) 0 10px no-repeat;
}
ul#vgraph-classes .count-classes {    
    font-size: .75em; 
}
/* FIND BY ------>  */
#find-by {
    border: 1px solid #e4eae9;
}
#find-by h3 {
    font-size: 1.125em;
    color: #2485ae;
    font-weight: normal;
}
ul#find-filters a {
    color: #5e6363;
    text-decoration: none;
}
ul#find-filters a:hover {
    background: url(../images/arrow.gif) 0 6px no-repeat;
    color: #2ea0cf;
}
ul#find-filters a.selected {
    color: #2ea0cf;
    background: url(../images/arrow.gif) 0 6px no-repeat;
}
/* RESEARCHERS ------>  */
#researchers {
    width: 920px;
    background: #f7f9f9;
    border: 1px solid #d7e6e6;
}
#researchers h3 {
    font-size: 1.25em;
    color: #2485ae;
    font-weight: normal;
    background: url(../images/arrow.gif) 140px 27px no-repeat;
}
#researchers p {
    font-size: 1.125em;
    color: #5e6363;
}
#researchers-slider {
    border: 1px solid #e8e8e8;
    background: #fff;
}
#alpha-display {
    font-size: 4.375em;
    text-align: center;
    float: left;
    color: #2485ae;
    border-right: 1px dotted #dde4e3;
    font-weight: bold;
}
#profile-photo-display {
    width: 600px;
}
#profile-photo-display img {    
    border: 1px solid #dde4e3;
}
#nav-display p {
    font-size: 26px;
    color: #2485ae;
}
#nav-display img {
    border-left: 1px solid #e8e8e8;
}
/* BROWSE BY ------>  */
#browse-by {
    width: 920px;
}
#browse-by h2 {
    background: #5e6363;
    font-size: 1.375em;
    color: #fff;
}
/* BROWSE CLASSES ------>  */
ul#browse-classes {
    border: 1px solid #dde4e3;
    border-right: 0;
    background-color: #efefef;
}
ul#browse-classes li {
    border-bottom: 1px solid #dde4e3;
    font-size: 1em;
}
ul#browse-classes a {
    color: #5e6363;
    text-decoration: none;
}
ul#browse-classes a:hover {
    background: url(../images/arrow.gif) 4px 5px no-repeat;
    color: #2ea0cf;
}
ul#browse-classes a.selected {
    color: #2ea0cf;
    background: url(../images/arrow.gif) 4px 5px no-repeat;
}
ul#browse-classes .count-classes {    
    font-size: 12px; 
}
/* ALPHA BROWSE------>  */
ul#alpha-browse-individuals {
    background-color: #fff;
}
ul#alpha-browse-individuals li {
    font-size: .8em;
}
ul#alpha-browse-individuals a {
    color: #5e6363;
    text-decoration: none;
}
ul#alpha-browse-individuals a:hover {
    background: url(../images/arrowSmall.gif) -3px 7px no-repeat;
    color: #2ea0cf;
}
ul#alpha-browse-individuals a.selected {
    color: #2ea0cf;
    background: url(../images/arrowSmall.gif) -3px 7px no-repeat;
}
ul#alpha-browse-individuals .count-classes {
    font-size: .75em;
}
.alphaIndex {    
    font-size: .8em;
}
nav#alpha-browse-container {
    border: 1px solid #dde4e3;
    background-color: #fff;
    border-left: 1px solid #dde4e3;
    border-bottom: none;
}
/* BROWSE INDIVIDUALS------>  */
#individuals-in-class {
    width: 629px;
    border: 1px solid #dde4e3;
    background-color: #fff;
}
#individuals-in-class li.individual {
    border-bottom: 1px solid #dde4e3;
}
#individuals-in-class li img {
    border: 2px solid #dde4e3;
}
#individuals-in-class li h1 {
    color: #5e6363;
    font-size: .79em;
    margin-bottom: 7px;
       margin-top: 7px;
}
.pagination.menupage {
    font-size: .8em;
}
.pagination.menupage li.selected {
    color: #5e6363;
}
.pagination.menupage li a {
    text-decoration: none;
}
.pagination.menupage li a:hover {
    background: #5e6363;
}

/* ------------------------------------------------->  */
/* IMAGE UPLOAD------------------------------------->  */
/* ------------------------------------------------->  */
/* <------ UPLOAD PICTURE*/
#photoUploadDefaultImage img {
    border: 4px solid #DDE4E3;
}
#photoUploadForm {
    border-left: 1px dotted #DDE4E3;
}
/* <------ CROP PICTURE*/
#photoCropping img {
    border: 1px solid #DDE4E3;
}
#photoCropping {
    margin-left: 20px;
    padding-left: 40px;
    background: url(../images/pointToCropPreview.jpg) 0 30px no-repeat;
}
#photoCroppingPreview {
    width: 210px;
}
.photoCroppedPreview {
    border: 4px solid #DDE4E3;
}
/* <------ DELETE PICTURE*/
#photoDeletingContainer {
    border: 1px solid #bdbcbc;
}
/* ------------------------------------------------->  */
/* INDIVIDUAL DISPLAY ------------------------------>  */
/* ------------------------------------------------->  */

/* ADMIN PANEL ------>  */
#admin {
    background-color: #f2f9fb;
}
#admin h3 {
    background: #2485AE;
    color: #fff;
}
#admin .uri-link {
    color: #888c8c;
}
#admin a {
    color: #2a98bc;
}
/* INDIVIDUAL INTRO FOR ANY CLASS ------>  */
.preferred {
    padding-top: .2em;
}
#individual-intro h1 {
    font-size: 1.375em; 
    color: #2485ae; 
}
#individual-intro span.display-title {
    font-size: .825em;
    color: #5e6363;
    border-left: 1px solid #A6B1B0;
}
ul#individual-tools {
    color: #8AA149;
}
#individual-intro ul.individual-urls li a {
    color: #2485ae;
}
h2#mainImage, #share-contact h2 {
    color: #5E6363;
}
h2#webpage {
    font-weight: bold;
}
/* INDIVIDUAL INTRO - LEFT SIDE CONTENT ------>  */
img.individual-photo {
    border: 7px solid #ebebeb;
}
.rdf-url {
    padding-top: .8em;
    display: block;
}
ul#individual-tools-people li a {
    color: #b2d15a;  
}
ul#individual-tools {
    color: #8AA149
}
ul#individual-tools li a {
    color: #b2d15a; 
}
#share-contact a.email, #share-contact a.tel {
    color: #5f6464;
	font-size: .8em;
}

ul.individual-urls {
    list-style: url(../../../images/individual/arrow-green.gif);
}
ul.individual-urls li {
    font-size: .875em;
    line-height: 1.6em;
}
ul.individual-urls li a {
    color: #2485ae;
}
ul.individual-urls-people {
    list-style: url(../../../images/individual/arrow-grey.gif);
}
ul.individual-urls-people li a {
    color: #2485ae;
}
/* INDIVIDUAL RIGHT CONTENT ------>  */
#individual-info {
    color: #5e6363;
}
#individual-info h1.fn {
    font-size: 1.375em;
    color: #595B5B;
    line-height: 1.3em;
}
h1.fn .display-title {
    font-size: .825em;
    color: #8f928d;
    border-left: 1px solid #a6b1b0;
}
#individual-info h2 {
    color: #8f928d;
    font-size: .9em;
    font-weight: bold;
}
#individual-info h3 {
    font-size: 1.125em;
    line-height: 1.2em;
}
ul#individual-personInPosition {
    font-size: 1em;
    list-style: url("../../../images/individual/arrow-green.gif");
}
ul#individual-personInPosition li {
    line-height: 1.8em;
}
ul#individual-personInPosition li a {
    color: #2485ae;
}
.individual-overview {
    font-size: 1em;
    padding-right: 10px;
    padding-top: 10px;
    width: 100%;
}
ul#individual-hasResearchArea li {
    border-right: 1px solid #A6B1B0;
}
ul#individual-hasResearchArea li:last-child {
    border-right: none;
}
ul#individual-facultyMemberships li {
    border-right: 1px solid #A6B1B0;
}
ul#individual-facultyMemberships li:last-child {
    border-right: none;
}
/* INDIVIDUAL VISUALIZATION ------>  */
#right-hand-column h3 {
    font-size: 1.25em;
    color: #2485ae;
}
.publication-year-range {
    font-size: .875em;
}
a.all-vivo-publications {
    font-size: .875em;
    color: #5e6363;
}
/* <------ TEMPORAL GRAPH  */
#temporal-graph h3 a {
    color: #2485AE;
    font-size: .8em !important;
    text-decoration: underline;
    vertical-align:text-top;
}
/* <------ MAP O' SCIENCE  */
#map-of-science h3 a {
    color: #2485AE;
    font-size: .8em !important;
    text-decoration: underline;
    vertical-align:text-top;
}
/* COAUTHORS ------>  */
img.co-author {
    border: 2px solid #ebebeb;
}
#co-authors h3 {
    font-size: 1.25em;
    color: #2485ae;
}
p.view-all-coauthors {
    font-size: .875em;
}
/* PROPERTY GROUP MENU ------>  */
#property-group-menu {
    width: 920px;
    background: #f1f2ee;
}
#property-group-menu ul {
    color: #5e6363;
    font-size: 1em;
}
#property-group-menu li {
    background: url(../../../images/individual/separator-property-group-nav.jpg) right 10px no-repeat;
}
#property-group-menu a {
    color: #5e6363;
}
#property-group-menu a:hover {
    color: #002b44;
}
#property-group-menu li:last-child {
    background: none;
}
/* PROPERTY GROUP ------>  */
.property-group {
    width: 920px;
    background: #fff;
}
section.property-group h2 {
    font-size: 1.25em;
    color: #2485ae;
    font-weight: normal;
}
article.property {
    width: 852px;
	  margin: 0 auto 10px;
}
article.property h3 {
    background: #fafaf9;
    font-size: .89em;
    color: #0091B8;
}
article.property ul.property-list li.subclass h3 {
    font-size: 1.063em;
    color: #5E6363;
}
article.property .data-property-statement {
    background: #fff;
    font-size: 1em;
    color: #5e6363;
}
article.property ul.property-list {
    font-size: .89em;
    color: #5e6363;
}
article.property ul.property-list li a {
    /*color: #2485ae;*/   /* cappadona: seems unnecessarily specific and is overriding .more-less from individual.css so I'm commenting out for now */
    line-height: 1.1em;
}
/* MISCELLANEOUS ------>  */
.grey {
    color: #5e6363;
}
.displace {
    position: absolute;
    left: -9999px;
}
a {
    text-decoration: underline
}
.middle {
    vertical-align: middle;
}
input[type="submit"] {
    cursor: pointer;
}
.checkboxSpacer {
    margin-left:80px;
}
p.address-line {
    margin-bottom: 0.3em;
}
/* EDITING DISPLAY------>  */
.edit-individual {
    border-left: 1px dotted #B2D15A;
}
/* ------------------------------------------------->  */
/* SITE ADMIN DASHBOARD ---------------------------->  */
/* ------------------------------------------------->  */
#adminDashboard .pageBodyGroup {
  padding: 0 1em .5em 1em;
}
#adminDashboard .pageBodyGroup h3 {
  background-color: #fff;
  border-top: 1px dotted #AFB2B2;
  /*font-weight: bold;
  padding: .625em;*/
  color: #8f928d;
  margin-bottom: .625em;
}
#adminDashboard .pageBodyGroup ul {
  margin: 0 0 1em .6em;
}
#adminDashboard .pageBodyGroup h4 {
  color: #5E6363;
  font-size: 1em;
  margin-left: .6em;
  /*font-weight: bold;*/
}
#adminDashboard .pageBodyGroup h4 a {
  color: #5E6363;
  font-size: 1em;
  margin-left: 0;
  font-weight: bold;
}




/* ------------------------------------------------->  */
/* REVISION INFO ----------------------------------->  */
/* ------------------------------------------------->  */

#revision-build-date {
    border-left: 1px solid #DFE6E6;
}
#revision-build-date h3{
color: #2485AE;
}
#revision-levels caption {
    font-size: 18px;
    color: #2485ae;
}
#revision-levels th {
    font-weight: bold;
    border: 1px solid #DFE6E6;
}
#revision-levels td {
    border: 1px solid #DFE6E6;
}

/* ------------------------------------------------->  */
/* STATIC PAGES  ----------------------------------->  */
/* ------------------------------------------------->  */
#terms h3 {
    color: #2485ae;
}

/* ------------------------------------------------->  */
/* IE message when JS is disabled  ----------------->  */
/* ------------------------------------------------->  */
.ie-alert {
    color: #f00;
    font-weight: bold;
}

/* ------------------------------------------------->  */
/* VERBOSE DISPLAY  -------------------------------->  */
/* ------------------------------------------------->  */
section.verbosePropertyListing {
    font-size: 12px;
    font-weight: normal;
    color: #5E6363;
}
section.verbosePropertyListing span {
    color: #9bae5a;
}
h2#email .verbosePropertyListing,
h2#phoneNumber .verbosePropertyListing {
    margin-top: 10px;
    line-height: 1.4em;
}
article.property h3 {
    padding: 10px 0 5px 20px;
    margin: 0;
}
h2#personInPosition .verbosePropertyListing,
h2#hasResearchArea .verbosePropertyListing,
h2#preferredTitle .verbosePropertyListing {
    display: block;
}

/* ------------------------------------------------->  */
/* ACCOUNT PAGE ------------------------------------>  */
/* ------------------------------------------------->  */
form.customForm p {
    margin-top: 8px;
}
section.accounts input.delete,
section.accounts input.delete:visited {
    background-color: #FFF;
    color: #2485AE;
    border: 1px solid #96c5da;
}
section.accounts input.delete:hover {
    color: #fff;
    background-color: #88acbb;
    border: 1px solid #88acbb;
}
section.accounts input.delete:active {
    top: 1px;
}
input.add-account,
input.add-account:visited {
    background: url(../images/addNewAccount.png) 0 center no-repeat;
    color: #fff;
    padding-left: 35px;
}
input.add-account:hover {
    color: #fff;
    background-color: #88acbb;
    background: url(../images/addNewAccountOver.png) 0 center no-repeat;
}
input.add-account:active {
    top: 1px;
}
.disabledSubmit {
    color: #ede ! important;
    background-color: #b2d15a ! important;
    cursor: default ! important;
}
/* ------------------------------------------------->  */
/* CONTACT FORM ------------------------------------>  */
/* ------------------------------------------------->  */
#contact_form input[type="text"] {
    width: 20em;
}
#contact_form textarea {
    width: 40em;
}
/* ------------------------------------------------->  */
/* ASSOCIATE PROFILE ------------------------------->  */
/* ------------------------------------------------->  */
#associateProfileBackgroundThree {
    padding:7px 94px 26px 12px; 
    margin-top:-136px; 
}
#associateProfileBackgroundTwo {
    padding:7px 94px 40px 0;
    margin-top:-136px; 
}
#associateProfileBackgroundFour {
    margin-top:-12px;
}

/* ------------------------------------------------->  */
/* CLASS HIERARCHY  -------------------------------->  */
/* ------------------------------------------------->  */
span.headerSpanPlus {
    width: 12px;
    background: url(../images/green_plus_sign.gif) left center no-repeat;
    cursor:default;
}
span.headerSpanMinus {
    width: 12px;
    background: url(../images/green_minus_sign.gif) left center no-repeat;
    cursor:default;
}
span.subclassExpandPlus {
    padding-right: 14px;
    background: url(../images/green_plus_sign.gif) left center no-repeat;
    cursor:default;
}
span.subclassExpandMinus {
    padding-right: 14px;
    background: url(../images/green_minus_sign.gif) left center no-repeat;
    cursor:default;
}
/* ------------------------------------------------->  */
/* PAGE MANAGEMENT  -------------------------------->  */
/* ------------------------------------------------->  */
.expandArrow {
    background:url(../images/green_plus_sign.gif) right center no-repeat;
    min-height:18px;
}
.collapseArrow {
    background:url(../images/green_minus_sign.gif) right center no-repeat;
    min-height:18px;
}
/* override vitro css */
#search-home h3 {
   font-size: 1em;
	color: #000000;
}
/*#intro {
    float: left;
    padding-bottom: 50px;
   
}*/
a.filter-search {
    display: inline-block;
    height: 34px;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 39px;
    z-index: 99;
}
#login {
   
    background-color: #f4f4f4;
    border-color: #cccccc #cccccc #cccccc #cccccc;
    border-style: solid;
    border-width: 1px;
	/*border: 1px solid #ff0000;*/
	text-align: center;
    float: left;
    margin-bottom: 30px;
    margin-right: 25px;
    margin-top: 85px;
    overflow: hidden;
    padding-bottom: 30px;
    width: 280px;
}
#login h2 {
    border-bottom: medium none;
    color: #2485ae;
    font-size: 22px;
    padding: 9px;
}
#intro p {
    text-align: justify;
	width: 960px;
	   
}
#intro a {
	text-decoration: none;
}
h4.internal-auth {
	font-size: 78%;
}


/* SF Menu */
#main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 200; }
  #main-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 10000; }

ul#main-nav {
  line-height: 1.0;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: .02em;
  font-weight: 700; }

#main-nav ul {
  position: absolute;
  top: -999em;
  width: 20em;
  z-index: 10000; }
  #main-nav ul li {
    width: 100%;
 }
#main-nav li {
  border-right: 1px dotted #999;
  border-top: 1px solid #ffffff;
  float: left;
  
  position: relative; }
  #main-nav li:hover {
    visibility: inherit;
    background-color: #fff;
    background: -moz-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #ffeeff ef));
    background: -webkit-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -o-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -ms-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1); }
#main-nav a {
  display: block;
  position: relative;
  color: black; }
  #main-nav a:hover {
    display: block;
    position: relative;
    color: #c6251d; }
#main-nav li:hover ul, #main-nav li.sfHover ul {
  left: 0;
  top: 2.3em;
   z-index: 10000;
  background-color: #ececec;
  font-size: 95%;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0em; }
#main-nav li:hover ul, #main-nav li.sfHover ul li {
  border: 0 none; }

ul#main-nav li:hover li ul, ul#main-nav li.sfHover li ul {
  top: -999em;
  z-index: 10000;
  background-color: #ececec;
  border: none; }
ul#main-nav ul.menu li {
  border: none; }
ul#main-nav li li:hover ul, ul#main-nav li li.sfHover ul {
  left: 20em;
  top: 0;
  border: none;
  background-color: #ececec; }
ul#main-nav li li:hover li ul, ul#main-nav li li.sfHover li ul {
  top: -999em; }
ul#main-nav li li li:hover ul, ul#main-nav li li li.sfHover ul {
  left: 20em;
  top: 0;
  display: block; }

#main-nav {
  font-size: 105%; }
  
  
  
  
  
  
  /* Typography */
  body { font-size:100%; line-height:1.25; text-align:left; }
  

  h1, h2, h3 { margin-top:0; margin-bottom:0; }
  h1 { font-size:1.5em; padding:1.45833em 0; }
  h2 { font-size:1.33333em; padding:1.25em 0; }
  h3 { font-size:1.16667em; padding:1.51786em 0; }
  p {
  	 text-indent: 1.25em;
  }
  div + p, h1 + p, h2 + p, h3 + p, p.first, pre + p, p:first-child, ul + p, ol + p {
      text-indent: 0;
  }
  
  #search-homepage {
      padding-left: 0px;
	
      position: relative;
  }
  /* Stats Section */
  #stats p.stats-count {
      font-size: 42px;
	  font-family: georgia, "Times New Roman", sans-serif;
	  text-shadow: -2px -1px 1px #666666;
      margin: 0;
      padding-top: 2px;
      text-align: center;
  }
  #stats p.stats-type {
      font-size: 13px;
	  margin: 0px;
	  font-family: georgia, "Times New Roman", sans-serif;
	  text-shadow: -2px -1px 1px #666666;
	  padding: 0px;
	  letter-spacing: .1em;
      margin: 26px 0 0;
      text-align: center;
	  text-indent: 0em;
  }
  #stats li:first-child {
      margin-left: 0px;
  }
  /* Admin Dashboard */
  #adminDashboard .pageBodyGroup {
	  /*margin: 0px;
	  padding: 0px;*/
  }
  html body.siteAdmin.loggedIn div#wrapper-content div#adminDashboard section.pageBodyGroup ul li a {
	  font-size: 80%;
  }
  /* Individual css override */
  section.property-group {
      border-top: medium none;
      padding-top: 1px;
  }
  section.property-group div {
      margin-top: 11px;
  }
  article.property {
      border: 1px solid #dfe6e5;
      margin: 0 auto 14px;
  }
  article.property ul.property-list li {
      background-color: #fff;
      line-height: .89em;
      padding: 10px 20px 0px;
  }
  li.selectedGroupTab {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #fff;
      border-color: #dfe6e5 #dfe6e5 #fff;
      border-image: none;
      border-style: solid;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-width: 1px;
      float: left;
      padding: 8px;
	   
  }
  article.property ul.property-list {
      background: none repeat scroll 0 0 #fff;
      list-style-type: none;
      padding-bottom: 15px;
  }
  .editingForm td {
      font-size: 0.89em;
	  line-height: .89em;
  }
  .editingForm td i {
      font-size: 0.79em;
  }
  ul.propertyTabsList li {
      font-size: 0.79em;
  }
  ul.propertyTabsList li:first-child {
      width: 7px;
  }
  li.groupTabSpacer {
      background-color: #fff;
      border-bottom: 1px solid #dfe6e5;
      float: left;
      height: 28px;
	   font-size: 0.79em;
  }
  /* Menu Page Override */
  li.individual {
      margin-left: 30px;
      margin-right: 30px;
      overflow: hidden;
      padding: 0px;
      width: 90%;
  }
  h3.selected-class {
       padding: 11px 0;
  }
  .verticalfieldlabel {
      
      font-size: 100% !important;
      
  }
  input.delete {
  	font-size: 80%;
    padding: 7px 18px;
  }

ul#individual-personInPosition {
    font-size: 0.8em;
}
ul#individual-hasResearchArea li {
    border-right: 1px solid #a6b1b0;
    font-size: 0.8em;
}

 li#user-menu ul.sub_menu li a {
	 padding-top: 11px;
	 boarder: 1px solid #ff0000;
}

/* FOOTER */
/*
#footer {
  position: relative;
  background-color: #000000;
  margin-top: -180px;
  height: 260px;
  clear: both; }
  #footer table  {
	  width: 960px;
	  margin: 0 auto;
  }
  #footer table td {
	  padding: 14px;
	  margin-top: 12px;
	  float: left;
	  clear: none;
  }

#footer-inner {
  width: 100%;
  margin: 0 auto; }


#footer  p, #footer  h6, #footer h6 a {
  width: 85%;
color: #ffffff; }
#footer  h6 {
	font-size: 85%;
}
#dcofooter-group, #dcofooter {
  width: 960px;
  margin: 0 auto; }

#footer {
  color: #ffffff; }
  #footer a {
    color: #ffffff; }
  #footer .menu a, #footer h6 a {
    font-size: 80%; }

.boiler {
  font-size: 80%; }

#footer .boiler {
  display: block;
  margin-left: 44px; }
  
 
 
  

#dcofooter ul.menu {
  list-type: none; }

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

#footer a:hover {
  color: #c6251d; }
  
  */

/* NEW TABS October 2015 */
li.selectedGroupTab {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #dfe6e5 #dfe6e5 #fff;
    border-image: none;
    border-style: solid;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-width: 1px;
    float: left;
     padding: 6px 8px;
}
li.nonSelectedGroupTab {
    background-color: #e4ecf3;
    border: 1px solid #dfe6e5;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    cursor: pointer;
    float: left;
    padding: 6px 8px;
} 
/* propertyGroupControls.js used to handle the sizes of the divider sections in the tab listings */
#overview {
	background: none;
}

section.property-group h2 {
    background: #ffffff none repeat scroll 0 0 !important;
    color: #5e6363 !important;
    font-size: 1.15em !important;
	 padding: 8px 8px 8px 8px;
    font-weight: normal !important;
}
